html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background: #1f2433;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1 {
    text-align: center;
    color: #b388ff;
    font-family: 'Satisfy'
}

canvas {
    height: 100%;
    width: 100%;
}

/* The player as a whole, excluding the header */

#player {
    max-height: 100%;
    color: white;
    /* border: solid 2px rgb(77, 53, 134); */
}

/* The sidebar of the player; made of the playlist and its menu*/

#side {
    max-width: 100%;
    max-height: 100%;
    color: #b388ff;
    border-right: solid 2px #b388ff;
    word-spacing: 2px;
}


#side .btn {
    border: none;
    background: none;
    color: #b388ff;
    padding: 4px 30px;
    border-radius: 0;
}

#side .btn,
#side #upload-btn label {
    -webkit-transition-duration: 0.6s;
    -moz-animation-duration: 0.6s;
    transition-duration: 0.6s;
}

#side .btn:hover,
#side #upload-btn label:hover{
    color: white;
}

/* Side button active toggle state */
#side .btn.active {
    background: #b388ff;
    color: #1f2433;
}

/* Animate side button when clicked */
#side .btn:active,
#side #upload-btn:active {
    transition-duration: 5ms;
    transform: translateY(2px);
}

/* Upload song button */
#side #upload-btn {
    padding: 5px 0;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

#side #upload-btn input[type=file] {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    top: 0;
    left: 0;
    opacity: 0;
}

#side #upload-btn label {
    margin: 0;
}

#side-menu {
    position: relative;
}

#pop-msg {
    visibility: hidden;
    color: #b388ff;
    display: flex;
    position: fixed;
    border: 1px solid #b388ff;
    border-radius: 10px;
    max-width: 300px;
    max-height: 200px;
    padding: 20px;
    line-height: 1.3;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
}

#pop-msg.top {
    top: 0;
    margin-top: 20px;
}

#pop-msg.bottom {
    bottom: 0;
    margin-bottom: 40px;
}

#pop-msg.left {
    left: 0;
    margin-left: 100px;
}

#pop-msg.right {
    right: 0;
    margin-right: 100px;
}

#pop-msg.show {
    visibility: visibile;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1;
    animation-fill-mode: forwards;
}

/* The playlist area */
#song-playlist {
    height: 100%;
    max-height: 95%;
    overflow-y: auto;
}

#song-playlist .song {
    width: 100%;
    margin-top: 10px;
    line-height: 2;
    font-size: 1.3rem;
    padding: 4px 24px;
}

/* The area where current song information is displayed */
#content {
    max-height: 100%;
}

/* Song name shown as entry in playlist */
.songText {
    display: block;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

/* CSS GRID for player layout*/
.app-grid {
    display: grid;
    margin: 0 100px;
    grid-template-columns: 280px auto 280px;
    grid-template-rows: 88px 80vh;
    grid-gap: 10px;
    grid-template-areas:
    "navbar navbar navbar" 
    "sidebar content playmenu";

}

.app-grid-navbar {
    grid-area: navbar;
}

.app-grid-sidebar {
    grid-area: sidebar;
}

.app-grid-content {
    display: flexbox;
    flex-direction: row;
    grid-area: content;
}

.app-grid-playmenu {
    grid-area: playmenu;
}

@media screen and (max-width: 900px) {
    .app-grid {
        margin: 0;
        padding: 0 10px;
        grid-template-columns: 100%;
        grid-template-rows: 88px 60vh 60px 1fr;
        grid-template-areas:
        "navbar"
        "content"
        "playmenu"
        "sidebar";
    }
    
    #side {
        border-right: none;
    }
}

/* Misc. */

/* Make icon appear clickable without need for button; Use alongside onclick attribute */
.iconClick {
    cursor: pointer;
}

/* Makes a solid purple border around content */
.border-purple {
    border: solid 2px #7c4dff;
}

.fade-in {
    -webkit-animation: fade-in;
    animation: fade-in;
}

.fade-out {
    -webkit-animation: fade-out;
    animation: fade-out;
}

@-webkit-keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@-webkit-keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}