html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background: #1f2433;
    /* background: white; */
    font-family: 'Oswald', sans-serif;
}

canvas {
    height: 100%;
    width: 100%;
}

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
}

.btn:focus, 
input[type=range]:focus,
input[type="file"]:focus + label {
    outline: none;
    box-shadow: 0px 0px 6px 0.15rem rgba(255, 129, 255, 0.514);
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -6px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}
  
input[type=range]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}
  
input[type=range]::-ms-thumb {
    margin-top: 1px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #b388ff;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
  }

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #b388ff;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
    background: #b388ff;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}

input[type=radio] {
    height: 0;
    width: 0;
    opacity: 0;
    position: absolute;
}

input[type=radio] + label {
    cursor: pointer;
}

input[type=radio]:checked + label {
    color: #f58fdb;
}


/* The player as a whole, excluding the header */

#player {
    max-height: 100%;
    color: white;
    /* border: solid 2px rgb(77, 53, 134); */
}

/* The sidebar of the player; made of the playlist and its menu*/

#side {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    color: #b388ff;
    border-right: solid 2px #b388ff;
    word-spacing: 2px;
}


#side .btn {
    color: #b388ff;
    padding: 4px 30px;
    border-radius: 0;
}

#side .btn,
#upload-btn label {
    -webkit-transition: color 0.6s, background 0.6s;
    -moz-transition: color 0.6s, background 0.6s;
    transition: color 0.6s, background 0.6s;
}

#side .btn:hover,
#side .btn:focus,
#upload-btn label:hover{
    color: #f58fdb;
}

/* Side button active toggle state */
#side .btn.active {
    background: #b388ff;
    color: #1f2433;
}

/* Animate side button when clicked */
#side .btn:active,
#upload-btn:active {
    transition-duration: 5ms;
    transform: translateY(2px);
}

/* Upload song button */
#upload-btn {
    padding: 5px 0;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

#upload-btn input[type=file] {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    top: 0;
    left: 0;
    opacity: 0;
}

#upload-btn label {
    margin: 0;
}

#side-menu {
    position: relative;
}

#pop-msg {
    visibility: hidden;
    color: #f58fdb;
    display: flex;
    position: fixed;
    border: 1px solid #f58fdb;
    border-radius: 10px;
    max-width: 300px;
    max-height: 200px;
    padding: 20px;
    line-height: 1.3;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
}

#pop-msg.top {
    top: 0;
    margin-top: 20px;
}

#pop-msg.bottom {
    bottom: 0;
    margin-bottom: 40px;
}

#pop-msg.left {
    left: 0;
    margin-left: 100px;
}

#pop-msg.right {
    right: 0;
    margin-right: 100px;
}

#pop-msg.show {
    visibility: visibile;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1;
    animation-fill-mode: forwards;
}

/* The playlist area */
#song-playlist {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 12px;
}

#song-playlist .song {
    width: 100%;
    margin-top: 10px;
    line-height: 2;
    font-size: 1.3rem;
    padding: 4px 12px;
}

/* The area where current song information is displayed */
#content {
    max-height: 100%;
}

#vol-control {
    width: 200px;
}

#song-seek {
    text-align: center;
    width: 100%;
}

#seekbar {
    width: 100%;
}

.navbar {
    color: #b388ff;
    font-family: Satisfy, cursive;
}

.brand {
    font-size: 2.5rem;
}

.btn {
    border: none;
    background: none;
}

/* Song name shown as entry in playlist */
.songText {
    display: block;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.controls {
    font-size: 2rem;
}

.controls-lg {
    font-size: 4rem;
}

.vis-group {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    align-content: flex-start;
    justify-content: space-between;
}

.vis-title {
    font-size: 24px;
    width: 100%;
    margin-bottom: 20px;
}

.vis-choice {
    display: table;
    width: 30%;
    height: 80px;
    border: solid 1px #b388ff;
    border-radius: 8px;
    color: #b388ff;
    margin: 4px;
    padding: 2px;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
}

.vis-choice label {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    transition: color 0.25s linear;
}

/* CSS GRID for player layout*/
.app-grid {
    display: grid;
    margin: 0 40px;
    height: 100vh;
    grid-template-columns: 280px auto 280px;
    grid-template-rows: 88px 240px calc(80vh - 240px);
    grid-gap: 10px;
    grid-template-areas:
    "navbar navbar navbar" 
    "sidebar content playmenu"
    "sidebar content empty";

}

.app-grid-navbar {
    grid-area: navbar;
}

.app-grid-sidebar {
    grid-area: sidebar;
}

.app-grid-content {
    grid-area: content;
}

.app-grid-playmenu {
    grid-area: playmenu;
}

.app-grid-vis {
    grid-area: vis;
}


@media screen and (max-width: 1500px) {
    #playmenu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 30px;
    }

    #song-controls {
        display: inline-block;
        width: 100%;
    }

    #song-volume {
        display: inline-block;
    }

    #vol-control {
        width: 150px;
        margin-left: auto;
    }

    .controls {
        font-size: 1.8rem;
    }
    
    .controls-lg {
        font-size: 3rem;
    }

    .brand {
        font-size: 2rem;
    }
    
    .app-grid {
        margin: 0 20px;
        grid-template-rows: 60px calc(100vh - 260px) 180px;
        grid-template-columns: 280px auto;
        grid-template-areas:
        "navbar navbar"
        "sidebar content"
        "playmenu playmenu"
    }

}


@media screen and (min-width: 901px) {
    #pop-msg {
        bottom: 0;
        left: 0;
        margin-bottom: 40px;
        margin-left: 100px;
    }

    .app-grid-vis {
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    #side {
        flex-direction: column;
        flex-grow: 1;
        border-right: none;
    }

    #content {
        height: auto;
    }

    #vol-control {
        width: 100px;
    }

    #pop-msg {
        top: 0;
        left: 0;
        margin-top: 12px;
        margin-left: 12px;
        line-height: 1;
        font-size: .9rem;
        max-width: 80px;
    }

    .brand {
        font-size: 1.5rem;
    }

    .controls {
        font-size: 1.2rem;
    }

    .app-grid {
        margin: 0;
        padding: 0 12px;
        grid-template-columns: 100%;
        grid-template-rows: 40px minmax(320px, 40vh) 140px calc(60vh - 240px);
        grid-template-areas:
        "navbar"
        "content"
        "playmenu"
        "sidebar"
    }
      
}

/* Misc. */

/* Make icon appear clickable without need for button; Use alongside onclick attribute */
.iconClick {
    cursor: pointer;
}

/* Makes a solid purple border around content */
.border-purple {
    border: solid 2px #7c4dff;
}

.fade-in {
    -webkit-animation: fade-in;
    animation: fade-in;
}

.fade-out {
    -webkit-animation: fade-out;
    animation: fade-out;
}

@-webkit-keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@-webkit-keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}